NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://localhost:8545
NEXT_PUBLIC_VERIFIER_URL=http://localhost:8091
VERIFIER_URL=http://localhost:8091
NEXT_PUBLIC_IPFS_API_URL=http://localhost:5001
NEXT_PUBLIC_IPFS_GATEWAY_URL=http://localhost:8080/ipfs
NEXT_PUBLIC_WALLET_CONNECT_ID=local-demo
